2020/*/venv
2020/*/.idea
2020/.idea/workspace.xml
2020/.idea/vcs.xml
2020/.idea/modules.xml
2020/.idea/inspectionProfiles/profiles_settings.xml
2020/.idea/2020.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Advent-of-Code.iml
